<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1>hello Django Generatio</h1> 
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus atque modi commodi ipsum harum aliquam similique vitae rerum sint dolore, iusto corporis sunt odio dolores consequuntur aut nisi tenetur? Quae!</p>
   <hr>
   <h1>{{person}}</h1>
   {%for x in person%}
    <h3>{{x}}</h3>
   {% endfor%}
   
</body>
</html>